*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  display: grid;
  place-content: center;
  grid-template-rows: 1fr;
  height: 100vh;
  padding: 36px;
}

.container {
  border: 1px solid #2e2e2e;
  border-radius: 3px;
  width: 350px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#btn-send {
  background-color: #1d1d1d;
  border: none;
  padding: 8px 16px;
  transition: background-color 300ms ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}

#btn-send:hover {
  background-color: #313131;
}

#form {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 16px;
}

#input {
  width: 100%;
  border: none;
  outline: none;
  letter-spacing: 1px;
  text-indent: 12px;
  background-color: #1d1d1d;
  border-radius: 999px;
  padding: 8px 0;
}